node_modules/
yarn-error.log

# We're including build artifacts for now to simplify the workflow with Composer.
# I'd like to change this in the future to get Composer to pull assets from a
# release, instead of from source
# dist/

tmp/*

yarn-error.log
.eslintcache

/vendor/

.DS_store/
