<main role="main">
  <a id="main-content" tabindex="-1"></a>
  <div class="layout-content p-12 pt-6 border-t">
    <div class="">
      {{ page.content.idcui_page_title }}
    </div>

    <div class="">
      {{ page.content.idcui_content }}
    </div>
  </div>
</main>
