<main role="main">
  <a id="main-content" tabindex="-1"></a>
  <div class="layout-content py-6 container mx-auto">

    <div class="text-3xl">
      {{ page['#title']}}
    </div>

    <div id="idc-ui-taxonomy-content">
      {{ page.content.idcui_content }}
    </div>
  </div>
</main>
