<div class="w-full bg-blue-spirit relative pb-10">
  <div class="container mx-auto relative z-10 px-4">
    <div class="py-4 font-bold text-blue-heritage leading-none"> {# Contains header(s) #}
      <h1 class="text-5xl font-titling-medium">
        DIGITAL REPOSITORIES&nbsp;
        <span class="text-black">@ JHU</span>
      </h1>
      {# 2xl smaller than above header looks OK #}
      <h2 class="text-2xl">
        Collections and scholarship from Johns Hopkins University
      </h2>
    </div>
    {# Featured Items grid #}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      <a
        class="flex flex-col sm:w-front-card m-auto w-auto hover:opacity-95 hover:shadow-xl"
        href="/collections"
        aria-label="Library collections"
      > {#  Card container #}
        <div> {#  Card image container #}
          <img
            src="/themes/contrib/idc-ui-theme/images/chinese-gardens-14.jpg"
            alt="Library Collections image"
            data-entity-type="file"
            class="object-cover w-full"
          >
        </div>
        <div class="px-8 py-5 shadow-md bg-white h-auto"> {# Card body container #}
          <h3 class="text-2xl font-bold">
            Library Collections
          </h3>
          <p class="text-gray-700">
            Search digitized historic photographs, advertisements, texts,
            and more from JHU's unique library collections
          </p>
        </div>
      </a>
      <div class="flex flex-col sm:w-front-card m-auto w-auto"> {#  Card container #}
        <div> {#  Card image container #}
          <img
            src="/themes/contrib/idc-ui-theme/images/student-writing-on-blc-window.jpg"
            alt="JHU Scholarship image"
            class="object-cover w-full"
          >
        </div>
        <div class="px-8 py-5 shadow-md bg-white h-auto"> {# Card body container #}
          <h3 class="text-2xl font-bold">
            JHU Scholarship
          </h3>
          <p class="text-gray-700">
            Find publications, theses, and dissertations by JHU faculty
            and students
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-100 absolute bottom-0 w-full z-0 h-front-banner">
  </div>
</div>

<div class="container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 my-10">
    <div class="md:col-span-2 font-serif px-4">
      <p class="mb-6">
        The five Sheridan Libraries - the Milton S. Eisenhower Library, the Brody
        Learning Commons, the Albert D. Hutzler Reading Room, the George Peabody
        Library, and the John Work Garrett Library - provide the major research
        library resources for Johns Hopkins University.
      </p>
      <p>
        Together, the Libraries contain more than 4.2 million volumes and provide
        around-the-clock access to a rich collection of electronic resources, including
        more than 154,000 print and e-journals, and more than 1.6 million e-books.
      </p>
    </div>
    <div class="px-4">
      <div class="border shadow text-blue-heritage text-center">
        <h4 class="px-8 py-4 text-lg font-bold">Need more information?</h4>
        <div class="bg-gray-200 flex p-6">
          <a class="flex items-center place-content-center w-full p-2 bg-blue-spirit cursor-pointer hover:bg-opacity-80 hover:shadow-xl" href="/contact">
            Contact Us
            <svg class="h-5 w-5 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
