/* Colors */
:root {
  --moo: blue;
  --jhu-bg-primary: white;
  --pass-blue-primary: #418fde;
  --pass-blue-header: #005eb8;

  /* JHU Primary Colors */
  --jhu-blue-spirit: #68ace5;
  --jhu-blue-heritage: #002d72;
  --jhu-black: #31261d;

  /* JHU Secondary Colors */
  --jhu-secondary-1: #cf4520;
  --jhu-secondary-2: #76232f;
  --jhu-secondary-3: #a15a95;
  --jhu-secondary-4: #009b77;
  --jhu-secondary-5: #0072ce;
  --jhu-secondary-6: #f1c400;

  /* JHU Accent Colors */
  --jhu-accent-1: #cba052;
  --jhu-accent-2: #ff9e1b;
  --jhu-accent-3: #ff6900;
  --jhu-accent-4: #9e5330;
  --jhu-accent-5: #4f2c1d;
  --jhu-accent-6: #e8927c;
  --jhu-accent-7: #a6192e;
  --jhu-accent-8: #51284f;
  --jhu-accent-9: #a192b2;
  --jhu-accent-10: #418fde;
  --jhu-accent-11: #86c8bc;
  --jhu-accent-12: #286140;
  --jhu-accent-13: #179949;

  /* Other colors */
  --btn-active-color: #c9c9c9;
  --header-color: #4a484c;
  --footer-blackish: #2c2c33;
  --footer-link-color: #a5bad4;
}

@tailwind base;

@font-face {
  font-family: 'gentona';
  src: url('../fonts/Gentona-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gentona';
  src: url('../fonts/Gentona-BookItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'gentona';
  src: url('../fonts/Gentona-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'gentona';
  src: url('../fonts/Gentona-MediumItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'arnhem';
  src: url('../fonts/Arnhem-Blond.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'arnhem';
  src: url('../fonts/Arnhem-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'titling';
  src: url('../fonts/Titling-Gothic-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'titling-medium';
  src: url('../fonts/Titling-Gothic-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

/* Other application stylesheets */

@import url('./forms.css');
@import url('./taxonomy.css');

#block-idcui-page-title h1 {
  @apply text-3xl;
}

a {
  @apply text-blue-heritage;
}
nav a {
  @apply text-white;
}

.button {
  @apply px-4 py-2 cursor-pointer;
}
.button--primary {
  @apply bg-blue-spirit text-blue-heritage;
}

/* .button--primary-hover {
  @apply bg-opacity-75;
}
.button--primary-active {
  @apply border border-opacity-50 border-blue-heritage;
}
.button--primary:hover {
  @apply button--primary-hover;
}
.button--primary:active {
  @apply bg-opacity-100 button--primary-active text-white;
} */

.card {
  @apply m-8 p-4 shadow-md bg-white;
}

@import 'spinkit.min.css';

/*
 * TODO: Remove when we complete global search impl. Explicitly hide some default form fields because reasons
 * #views-exposed-form-solr-search-content-page-1
 */

#views-exposed-form-solr-search-content-page-1 label[for='edit-query'],
#views-exposed-form-solr-search-content-page-1 #edit-sort-order,
#views-exposed-form-solr-search-content-page-1 label[for='edit-sort-order'],
#views-exposed-form-solr-search-content-page-1 #edit-sort-by,
#views-exposed-form-solr-search-content-page-1 label[for='edit-sort-by'] {
  display: none !important;
}

#views-exposed-form-solr-search-content-page-1 label[for='edit-query--2'],
#views-exposed-form-solr-search-content-page-1 #edit-sort-order--2,
#views-exposed-form-solr-search-content-page-1 label[for='edit-sort-order--2'],
#views-exposed-form-solr-search-content-page-1 #edit-sort-by--2,
#views-exposed-form-solr-search-content-page-1 label[for='edit-sort-by--2'] {
  display: none !important;
}
