
<div class="lg:mr-32 mb-4 lg:mb-0">
  <form action="/solr-search/content"
    method="get"
    id="views-exposed-form-solr-search-content-page-1"
    accept-charset="UTF-8"
    data-drupal-form-fields="edit-search-api-fulltext--2,edit-sort-by--2,edit-sort-order--2"
    class="mr-12 flex items-center">
    <div class="flex flex-col">
      <div class="flex flex-row">
        <input
          data-drupal-selector="edit-search-api-fulltext"
          type="text"
          id="edit-search-api-fulltext--2"
          name="search_api_fulltext"
          value=""
          size="30"
          maxlength="128"
          class="form-text h-10 border-blue-heritage border-2 px-2" />
        <select data-drupal-selector="edit-sort-by" id="edit-sort-by--2" name="sort_by" class="form-select hidden">
          <option value="search_api_relevance" selected="selected">Relevance</option>
          <option value="title">Title</option>
        </select>
        <select data-drupal-selector="edit-sort-order" id="edit-sort-order--2" name="sort_order" class="form-select hidden">
          <option value="ASC" selected="selected">Asc</option>
          <option value="DESC">Desc</option>
        </select>
        <input
          data-drupal-selector="edit-submit-solr-search-content-2"
          type="submit"
          id="edit-submit-solr-search-content--2"
          value="Search"
          class="inline-flex items-center px-3 py-2 lg:-mr-20 h-10 border border-transparent text-sm leading-4 font-medium text-white bg-blue-heritage" />
      </div>
      <a href="/advanced-search" class="text-blue-heritage">Advanced Search</a>
    </div>
  </form>
</div>
