
<div class="mr-32">
  <form action="/solr-search/content" method="get" id="views-exposed-form-solr-search-content-page-1" accept-charset="UTF-8" data-drupal-form-fields="edit-search-api-fulltext--2" class="mr-12 flex items-center">
    <input data-drupal-selector="edit-search-api-fulltext" type="text" id="edit-search-api-fulltext--2" name="search_api_fulltext" value="" size="30" maxlength="128" class="form-text h-10 border-blue-heritage border-2 px-2" />
    <input data-drupal-selector="edit-submit-solr-search-content-2" type="submit" id="edit-submit-solr-search-content--2" value="Search" class="inline-flex items-center px-3 py-2 -mr-20 h-10 border border-transparent text-sm leading-4 font-medium text-white bg-blue-heritage" />
  </form>
</div>
